body {
  font-family: sans-serif;
  text-align: center;
  background-color: #121212;
  color: #fff;
}
#timer h2 {
  font-size: 48px;
}
button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
}
